<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-2.1.3.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/view.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<script type="text/javascript" src="../js/Chart.js"></script>
	<script type="text/javascript" src="../js/view.js"></script>
</head>
<body>
	<% include header.ejs %>
	<div class="content">
		<div class="professor_info">
			<div class="picture">
				<img src='<%= img %>' />
			</div>
			<div class="info">
				<p class='professor'><%= professor %></p>
				<p class='course'><%= course %></p>
			</div>
			<div class="graph">
				<canvas id="hexagon"></canvas>
				<div class="values"><%= values %></div>
			</div>
		</div>
		<p class="evalButton">평가</p>
		<!-- <div id="board"></div>-->
		<p class="comment_p">Comments</p>
		<div class="comments">
			<%for(var i=0; i<comments.length; i++){%>
				<div class="comment_div">
					<div class="comment_id"><%= comments[i].userId %></div>
					<div class="arrow"></div>
					<div class="comment"><%= comments[i].comment %></div>
				</div>
			<%}%>
		</div>
	</div>
</body>
</html>