<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-2.1.3.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/view.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
	<script type="text/javascript" src="javascript/Chart.js"></script>
	<script type="text/javascript" src="javascript/view.js"></script>
</head>
<body>
	<% include header.ejs %>
	<div class="content">
		<div class="professor_info">
			<div class="picture">
				<img src=<%= card.photo %> />
			</div>
			<div class="info">
				<p class='professor'><%= card.profName %></p>
				<p class='course'><%= card.courseName %></p>
			</div>
			<div class="graph">
				<canvas id="hexagon"></canvas>
				<input type="hidden" name="fun" value=<%= card.fun %> />
				<input type="hidden" name="grade" value=<%= card.grade %> />
				<input type="hidden" name="benefit" value=<%= card.benefit %> />
				<input type="hidden" name="homework" value=<%= card.homework %> />
				<input type="hidden" name="difficulty" value=<%= card.difficulty %> />
				<input type="hidden" name="teamplay" value=<%= card.teamplay %> />
			</div>
		</div>
		<p class="evalButton">평가</p>
		<!-- <div id="board"></div>-->
		<p class="comment_p">Comments</p>
		<div class="comments">
			<%for(var i=0; i<comments.length; i++){%>
				<div class="comment_div">
					<div class="comment_id"><%= comments[i].userId %></div>
					<div class="arrow"></div>
					<div class="comment"><%= comments[i].comment %></div>
				</div>
			<%}%>
		</div>
	</div>

</body>
</html>